@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.body {
    /* background-color: #FEDD00; */
    /* background-image : url("https://images.squarespace-cdn.com/content/v1/5214cc8ce4b0cf32b79df41e/1568467533117-CNDHVS863LZCKM5P6OWI/Green_Background_Green_Condom_Club.jpg"); */
    background: #0A111F;
    /* background: linear-gradient(90deg, rgb(59, 106, 140) 0%, rgb(69, 123, 157)); */
}

.sapMBarPH{
    background-color: #FCA311;
}

.header .sapMTitle{
    color: #f5f5f5 !important;
    font-size: 1.2em !important;
    font-family: 'Raleway' !important;
}

.content{
    background-color: #a9eeb4!important;
}
.content:hover{
    background-color: #a9eeb4!important;
    opacity : 0.9;
}

.sapMBtnInner {
    font-size: 1rem;
    /* font-weight: bold!important; */
    font-family: 'Raleway' !important;
    text-shadow: none!important;
    color : #f5f5f5!important;
    background-color : #F7B446!important;
    border: .0625rem solid #f5f5f5!important;
    height: 2rem;
    width: 10rem;
}

.reset .sapMBtnInner {
    height: 2.5rem!important;
    width: 7rem!important;
}

.download .sapMBtnInner {
    height: 2.5rem!important;
    width: 12rem!important;
}

.sapMBtnInner:hover{
    background-color : #F4BC61!important;
}

.sapMBtnInner:active{

    background-color : #FAAC2C!important;
}

.footerText {
    font-family: 'Raleway' !important;
}

.sapMLabel {
    color: #f5f5f5 !important;
    font-family: 'Raleway' !important;
}

.sapContrast.sapMIBar-CTX.sapMFooter-CTX, .sapContrast .sapMIBar-CTX.sapMFooter-CTX {
    background-color : #FCA311!important;
}

.sapMGT {

    border: 5px solid #F4BC61!important;
}

.sapMBtnIcon {

    color : #f5f5f5!important;
}

.sapUiTinyMarginTop {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

html.sap-desktop:not(.sapUiNativeScrollbars) ::-webkit-scrollbar-thumb {
    background-color: #F29602!important;
    border-radius: 10px!important;
    height: 8px!important;
}

html.sap-desktop:not(.sapUiNativeScrollbars) ::-webkit-scrollbar {
    background-color: #EDD1A3!important;
    border-radius: 10px!important;
    height: 8px!important;
}